In [ ]:
L = [11,12,13,14]
print (L)
print ("After appending 15 and, 16 we get")

L.append (15)
L.append (16)

print(L)

[11, 12, 13, 14]
After appending 15 and, 16 we get
[11, 12, 13, 14, 15, 16]

In [ ]:
L = [11,12,13,14]
print(L)
print ("After removing 11 and, 13 we get")
L.remove(11)
L.remove(13)
print(L)

[11, 12, 13, 14]
After removing 11 and, 13 we get
[12, 14]

In [ ]:
L = [11,13,14,12]
print(L)
print("After sorting the list in ascending order, we get")
L.sort()
print(L)

[11, 13, 14, 12]
After sorting the list in ascending order, we get
[11, 12, 13, 14]

In [ ]:
print("After sorting the list in descending order, we get")
L.sort(reverse=True)
print(L)

After sorting the list in descending order, we get
[14, 13, 12, 11]

In [ ]:
if 13 in L:
  print("Element 13 is present in the list")
else:
  print("Element 13 is NOT present in the list")

Element 13 is present in the list

In [ ]:
L=[11,12,13,14]
number = len(L)
print("The total number of elements in list L is ",number)

The total number of elements in list L is  4

In [ ]:
sum(L)
print(sum)

<built-in function sum>

In [ ]:
x=sum(L)
print("The sum of all the elements in the list L is",x)

The sum of all the elements in the list L is 50

In [ ]:
L = [11,12,13,14]
x = sum([n for n in L if n % 2 == 1])
print("The sum of odd numbers in the list is ",x)

The sum of odd numbers in the list is  24

In [ ]:
L = [11,12,13,14]
x = sum([n for n in L if n % 2 == 0])
print("The sum of even numbers in the list is ",x)

The sum of even numbers in the list is  26

In [ ]:

def is_prime(number):
    if number < 2:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

prime_total = sum([n for n in L if is_prime(n)])

print("Sum of primes =", prime_total)

Sum of primes = 24

In [ ]:
print("L = [11,12,13,14]")
L.clear()
print("After clearing the elements, we're left with")
print(L)

L = [11,12,13,14]
After clearing the elements, we're left with
[]

In [ ]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (D)
print("After adding new element with key 8 and value 8.8")
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After adding new element with key 8 and value 8.8
{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 6 in D:
  print("Key 6 is present.")
else:
    print("Key 6 is NOT present.")

Key 6 is NOT present.

In [ ]:
x=sum(D)
print("The sum all of the no. of elements is",x)

The sum all of the no. of elements is 21

In [ ]:
D[3] = 7.1
print("After changing the entry")
print(D)

After changing the entry
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
print(D)

{}

In [ ]:
S1 = [10,20,30,40,50,60]
S2 = [40,50,60,70,80,90]

S1.append(55)
S1.append(66)
print(S1)

[10, 20, 30, 40, 50, 60, 55, 66]

In [ ]:
S1 = [10,20,30,40,50,60]
S1.remove(10)
S1.remove(30)
print("After removing 10, 30 from S1, we get ")
print(S1)

After removing 10, 30 from S1, we get
[20, 40, 50, 60]

In [ ]:
if 40 in S1:
  print("Element is present in S1.")
else:
  print("Element is NOT present.")

Element is present in S1.

In [ ]:
S1 = [10,20,30,40,50,60]
S2 = [40,50,60,70,80,90]

S = set()

for item in S1:
  S.add(item)

  for item in S2:
    S.add(item)

    print("Union of S1 and S2 = ",S)

Union of S1 and S2 =  {40, 10}
Union of S1 and S2 =  {40, 10, 50}
Union of S1 and S2 =  {40, 10, 50, 60}
Union of S1 and S2 =  {70, 40, 10, 50, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}
Union of S1 and S2 =  {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
x = set()

for item in S1:
  if item in S2:
    x.add(item)

    print("Intersection of S1 and S2 = ", x)

Intersection of S1 and S2 =  {40}
Intersection of S1 and S2 =  {40, 50}
Intersection of S1 and S2 =  {40, 50, 60}

In [ ]:
y = set()

for item in S1:
  if item not in S2:
    y.add(item)

    print("S1 - S2 gives ", y)

S1 - S2 gives  {10}
S1 - S2 gives  {10, 20}
S1 - S2 gives  {10, 20, 30}

In [ ]:
import random
import string

for _ in range(100):
    length = random.randint(6, 8)
    rand_string = ''.join(random.choices(string.ascii_letters, k=length))
    print(rand_string)

HyJdNlIb
TGsemSFX
PISMzl
EuVrayg
qsmkVSWL
zluLDkPD
rjMiBPM
PyGEPBt
wgfGKjqq
CiZcFcz
mOxFuH
BvIaMrI
rZKKCXCH
NocCHV
foMvJLH
QDLVOPpQ
pFBresGk
ufxloP
IycSwgDG
ZBMjNPv
FYjIXcy
QyvHfl
VZAuFDw
wiRUndw
dhjTdYIB
esMFLX
zdmrrMd
WdNQQD
ioKnAH
mviZosQ
hmFvYZ
LnZlDQIm
wfaejN
jnOtmYC
RiOFbUH
hnSdieBk
XzTfNvU
TuTVlY
BVQXFmf
EFwxez
YWRLvCg
uWgtqdpu
SttWbKWC
tcIOieL
xFeykqk
fabolzBe
mumvUYGV
forwKuV
BvFPKK
WHcFnNv
CmUwLiTc
fLjDxpl
xWbqTF
HkcHxTPS
gEAzuEef
GIEzyAdT
cPUJzN
AoeEizYT
eAxtxv
WNAOTj
EyNjbEMF
UGPQRM
nylqlvyl
qmXQAW
bQghNct
mPgnDr
oJsIlO
szUgiCXZ
mOIdjQOC
GKbooC
fgAhGjSX
aFybLFcv
EynKjz
qfbUAPjf
KMEhjA
BEIkkl
tGpBYIk
zrkkYL
cWHBedd
BtJkLnhy
zzRCQX
gDMJjx
XpQPAf
EeKmUoC
UmxzUp
IGQeKpwi
Knmfqi
vtvjhCEo
PzWZpB
eadyQY
CYRuRg
wOlTJGs
EmtIZsx
dAHqoPZT
qFahKX
QoVJRiZf
priDpEM
Rxugilcl
bXidUiD
jiQyZF

In [ ]:
for num in range(600, 800):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break

        else:
            print(num)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)